body {
  background-image: url("../IMG/fon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container_pass {
  max-width: 1244px;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.content {
  width: 95%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.error {
  color: #ff0808;
  font-size: 25px;
  margin: 5px;
}

.number_1,
.number_2,
.number_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_sh {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 35px;
}

.time_text {
  margin-top: 20px;
  margin-bottom: 5px;
}

.time_text,
.text {
  font-style: normal;
  font-size: 25px;
  margin-left: 10px;
}

.number_3 input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  border-bottom: 3px solid black;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 15px;
}

.number_2 input,
.number_1 input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  border-bottom: 3px solid black;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 35px;
}

.number_1 input._error,
.number_2 input._error,
.number_3 input._error {
  border-bottom: 3px solid #ff0808;
}

.number_3 button._touch:active,
.number_2 button._touch:active,
.number_1 button._touch:active {
  background-color: #04ff00;
  border: 5px solid #04ff00;
}

.number_3 button._touchNot:hover,
.number_2 button._touchNot:hover,
.number_1 button._touchNot:hover {
  cursor: pointer;
  background-color: #04ff00;
  border: 5px solid #04ff00;
}

.number_3 input._touchNot:hover,
.number_2 input._touchNot:hover,
.number_1 input._touchNot:hover {
  cursor: pointer;
  border-bottom: 3px solid #006eff;
}

.number_3 input._touch:active,
.number_2 input._touch:active,
.number_1 input._touch:active {
  border-bottom: 3px solid #006eff;
}

.number_3 button span,
.number_2 button span,
.number_1 button span {
  font-family: "Arial";
  font-size: 20px;
  letter-spacing: 0.2em;
  color: black;
  font-weight: lighter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.number_3 form,
.number_2 form,
.number_1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number_3 button,
.number_1 button {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #04ff00;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0);
}

.number_2 button.one {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #04ff00;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0);
}

.number_2 button.two {
  width: 150px;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #04ff00;
  height: 50px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.number_2 button.two._active {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 3px solid #474747;
}

.number_1 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.number_2 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.number_3 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.number_3.active {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

.number_2.active {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

.number_1.active {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 495px) {
  .number_3 input {
    width: 350px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .number_2 input,
.number_1 input {
    width: 350px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 35px;
  }
}
@media (max-width: 395px) {
  .number_3 input {
    width: 280px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .number_2 input,
.number_1 input {
    width: 280px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 35px;
  }
}
@media (max-width: 320px) {
  .number_3 button,
.number_1 button {
    width: 150px;
    height: 45px;
  }

  .number_2 button.one {
    width: 150px;
    height: 45px;
  }

  .number_2 button.two {
    width: 120px;
    height: 45px;
  }

  .number_3 button span,
.number_2 button span,
.number_1 button span {
    font-size: 15px;
  }

  .number_3 input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .number_2 input,
.number_1 input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 35px;
  }
}